@import "../styles/variables.scss";
.author-page {
  .author {
    flex-direction: column;
    align-items: center;
    .author-image {
      margin-right: 0;
      margin-bottom: 20px;
    }
    .about-author {
      align-items: center;
      max-width: 768px;
      margin: 0 auto;
      padding: 0 $gutter;
      text-align: center;
    }
    .author-social-icon {
      ul {
        display: flex;
        list-style: none;
        margin: 0;
        li {
          padding: 0 20px;
          a {
            display: block;
            svg {
              width: 30px;
              height: 30px;
              color: $gray-darkest;
            }
          }
        }
      }
    }
  }
}
