@import "../styles/variables.scss";
.guest-blog {
  .hero-section {
    color: white;
    background: $blue-darkest;
    padding: 1.5rem;
    img {
      margin: 0 auto;
      display: block;
    }
    & > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & > div {
        width: 50%;
        &:first-child {
          padding-right: 2rem;
        }
      }
    }
  }
  .content {
    max-width: 900px;
    margin: 0 auto;
    .highlight {
      color: $blue-bright;
    }
  }
}

.text-center {
  margin: 0 auto;
  text-align: center;
}

ul {
  margin-left: 16px;
}
