.mainContainer {
  margin: 0 auto;
  padding: 60px;
  @media (max-width: $layoutShift1Max) {
    margin: 0 auto 1.45rem auto;
    padding: 20px;
  }
}

.imageContainer {
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06), 0 3px 8px rgba(0, 0, 0, 0.09);
  border-radius: 8px;
  position: relative;
  width: 100%;
  height: 500px;
  @media (max-width: $layoutShift1Max) {
    height: 200px;
    margin: 0 auto 1.45rem auto;
  }
  margin: 0 auto 1.45rem auto;
}

.customImg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: none 0s ease 0s;
}
