@import "../styles/variables.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  border: 0;
  display: block;
  margin-bottom: 0;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 20px;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0 0 0 40px;
  margin-left: 0;
}
input[type="submit"] {
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  a {
    color: $black;
  }
}
h1 {
  margin-bottom: 30px;
  line-height: 48px;
  font-size: 40px;
  @media (max-width: 767px) {
    line-height: 40px;
    font-size: 32px;
  }
}
h2 {
  margin-top: 48px;
  margin-bottom: 24px;
  font-size: 32px;
  line-height: 40px;
}
h3 {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}
h4 {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 28px;
}
p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: $blue-bright;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $blue-bright;
    transition: all 0.3s;
  }
}
button {
  border: 0;
  cursor: pointer;
}
ul {
  padding: 0;
}
.btn-primary {
  padding: 0 24px;
  height: 56px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: 56px;
  text-transform: uppercase;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  background-color: $cta;
  color: $white;
  text-align: center;
  display: block;
  white-space: nowrap;
  transition: all 0.3s;
  border: 0;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s,
    box-shadow 0.35s, opacity 0.35s;
  background-color: $cta;
  color: $white;
  border-color: $cta;
  transition: 0.3s ease-in 0s;
  background-size: 250% auto;
  background-image: linear-gradient(
    -85deg,
    #f15e22 0%,
    #f15e22 40%,
    rgba(255, 255, 255, 0.2) 50%,
    #f15e22 60%,
    #f15e22 100%
  );

  &.small {
    width: auto;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: $basefont;
    text-transform: capitalize;
    padding: 0 16px;
    &:hover {
      box-shadow: none;
      transform: scale(1);
      color: $white;
    }
  }
  &:hover {
    background-color: $cta;
    border-color: $cta;
    transition: 0.3s ease-in 0s;
    background-size: 250% auto;
    background-position: right center;
    background-image: linear-gradient(
      -85deg,
      #f15e22 0%,
      #f15e22 40%,
      rgba(255, 255, 255, 0.2) 50%,
      #f15e22 60%,
      #f15e22 100%
    );
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    color: $white;
  }
}

.btn-cta {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 32px;
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0;
    font-size: 18px;
  }
}
.mb-0 {
  margin-bottom: $space-0;
}
.py-40 {
  padding: 40px 0;
}
.py-80 {
  padding: $space-80 0;
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.pt-80 {
  padding-top: $space-80;
  @media (max-width: 768px) {
    padding-top: 40px;
  }
}
.pb-80 {
  padding-bottom: $space-80;
  @media (max-width: 768px) {
    padding-bottom: 40px;
  }
}
.mb-80 {
  margin-bottom: $space-80;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}
.mb-48 {
  margin-bottom: 48px;
}
.circle {
  border-radius: 100%;
}
.extra-large {
  width: 100px;
  height: 100px;
}
.large {
  width: 50px;
  height: 50px;
}
.small {
  width: 40px;
  height: 40px;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

section {
  & > div {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1248px;
    @media (max-width: 767px) {
      padding: 0 16px;
    }
    .grid-33 {
      display: flex;
      flex-wrap: wrap;
      & > div {
        display: inline-block;
        margin-right: 24px;
        width: calc(33.33% - #{24px * 2 / 3});
        @media (max-width: 768px) {
          width: calc(50% - #{24px * 1 / 2});
        }
        @media (max-width: 767px) {
          width: 100%;
          margin-right: 0;
        }
        &:nth-child(3n) {
          margin-right: 0;
          @media (max-width: 768px) {
            margin-right: 24px;
          }
          @media (max-width: 767px) {
            margin-right: 0;
          }
        }
        @media (max-width: 768px) {
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
    .grid-70-30 {
      display: flex;
      flex-wrap: wrap;
      & > div {
        display: inline-block;
        margin-right: 24px;
        width: calc(70% - #{24px * 1 / 2});
        &:nth-child(2n) {
          margin-right: 0;
          width: calc(30% - #{24px * 1 / 2});
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        @media (max-width: 768px) {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}

.mb-sm {
  margin-bottom: 24px;
}
.ml-sm {
  margin-left: 20px;
}
.bg-light {
  background-color: $gray-lightest;
}
.bs-md {
  //box-shadow: $bs-md;
  border-radius: 8px;
  // &:hover {
  //   box-shadow: $bs-lg;
  // }
  img {
    border-radius: 8px;
  }
}
// subscribtion message CSS
.sg-response {
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  font-weight: 500;
  &.success {
    & > div {
      background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 512 512'%3E%3Ctitle%3Eionicons-v5-e%3C/title%3E%3Cpath d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke:%2339b55a;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cpolyline points='352 176 217.6 336 160 272' style='fill:none;stroke:%2339b55a;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3E%3C/svg%3E")
        no-repeat center left $white;
      background-size: 24px;
      color: $success;
    }
  }
  &.error {
    & > div {
      background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 512 512'%3E%3Ctitle%3Eionicons-v5-m%3C/title%3E%3Cpath d='M448,256c0-106-86-192-192-192S64,150,64,256s86,192,192,192S448,362,448,256Z' style='fill:none;stroke:%23e61728;stroke-miterlimit:10;stroke-width:32px'/%3E%3Cline x1='320' y1='320' x2='192' y2='192' style='fill:none;stroke:%23e61728;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3E%3Cline x1='192' y1='320' x2='320' y2='192' style='fill:none;stroke:%23e61728;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3E%3C/svg%3E")
        no-repeat center left $white;
      background-size: 24px;
      color: $error;
    }
  }
  &.success,
  &.error {
    z-index: 99;
    background-color: $white;
    & > div {
      padding-left: 32px;
    }
  }
  .close-icon {
    color: #000;
    top: calc(50% - 8px);
    right: 16px;
    position: absolute;
    text-decoration: none;
    font-family: arial;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 16px;
    width: 16px;
    height: 16px;
    background-color: $white;
    @media (max-width: 767px) {
      width: 18px;
      height: 18px;
      background-size: 18px;
      margin: 0;
      top: calc(50% - 18px);
    }
  }
}
