@import "../styles/variables.scss";

*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: $basefont;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  color: $gray-darkest;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

ul,
ol {
  padding: 0 0 0 40px;
  margin-left: 0;
}
input[type="submit"] {
  cursor: pointer;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
  a {
    color: $gray-darkest;
  }
}
h1 {
  margin-bottom: 30px;
  line-height: 48px;
  font-size: 40px;
  @media (max-width: 767px) {
    line-height: 40px;
    font-size: 32px;
  }
}
h2 {
  margin-top: 48px;
  margin-bottom: $gutter;
  font-size: 32px;
  line-height: 40px;
}
h3 {
  margin-bottom: 30px;
  font-size: 24px;
  line-height: 32px;
}
h4 {
  margin-bottom: 30px;
  font-size: 20px;
  line-height: 28px;
}
p {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 1.125rem;
  line-height: 1.5;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: $blue-bright;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: $blue-bright;
    transition: all 0.3s;
  }
}
img {
  max-width: 100%;
  border: 0;
  display: block;
  margin-bottom: 0;
}
button {
  border: 0;
  cursor: pointer;
}
ul {
  padding: 0;
}
.btn-primary {
  padding: 0 $gutter;
  height: 52px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  background-color: $cta;
  color: $white;
  text-align: center;
  display: block;
  white-space: nowrap;
  transition: all 0.3s;
  border: 0;
  transition: color 0.35s, background-color 0.35s, border-color 0.35s,
    box-shadow 0.35s, opacity 0.35s;
  background-color: $cta;
  color: $white;
  border-color: $cta;
  transition: 0.3s ease-in 0s;
  background-size: 250% auto;
  background-image: linear-gradient(
    -85deg,
    #f15e22 0%,
    #f15e22 40%,
    rgba(255, 255, 255, 0.2) 50%,
    #f15e22 60%,
    #f15e22 100%
  );

  &.small {
    width: auto;
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: $basefont;
    text-transform: capitalize;
    padding: 0 16px;
    &:hover {
      box-shadow: none;
      transform: scale(1);
      color: $white;
    }
  }
  &:hover {
    background-color: $cta;
    border-color: $cta;
    transition: 0.3s ease-in 0s;
    background-size: 250% auto;
    background-position: right center;
    background-image: linear-gradient(
      -85deg,
      #f15e22 0%,
      #f15e22 40%,
      rgba(255, 255, 255, 0.2) 50%,
      #f15e22 60%,
      #f15e22 100%
    );
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    color: $white;
  }
}

.btn-cta {
  max-width: 300px;
  margin-top: 32px;
  width: fit-content;
  @media (max-width: 768px) {
    max-width: 100%;
    padding: 0;
    font-size: 1.125rem;
    width: 100%;
  }
}
.mb-0 {
  margin-bottom: $space-0;
}
.py-40 {
  padding: 40px 0;
}
.py-80 {
  padding: $gutter * 4 0;
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.pt-80 {
  padding-top: $space-80;
  @media (max-width: 768px) {
    padding-top: 40px;
  }
}
.pb-80 {
  padding-bottom: $space-80;
  @media (max-width: 768px) {
    padding-bottom: 40px;
  }
}
.mb-80 {
  margin-bottom: $space-80;
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
}
.mb-48 {
  margin-bottom: 48px;
}
.circle {
  border-radius: 100%;
}
.extra-large {
  width: 100px;
  height: 100px;
}
.large {
  width: 50px;
  height: 50px;
}
.small {
  width: 40px;
  height: 40px;
}
.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}

section {
  & > div {
    overflow: hidden;
    margin: 0 auto;
    padding: 0 $gutter;
    max-width: 1248px;
    @media (max-width: 767px) {
      padding: 0 16px;
    }
    .grid-33 {
      display: flex;
      flex-wrap: wrap;
      & > div {
        display: inline-block;
        margin-right: $gutter;
        width: calc(33.33% - #{$gutter * 2 / 3});
        @media (max-width: 768px) {
          width: calc(50% - #{$gutter * 1 / 2});
        }
        @media (max-width: 767px) {
          width: 100%;
          margin-right: 0;
        }
        &:nth-child(3n) {
          margin-right: 0;
          @media (max-width: 768px) {
            margin-right: $gutter;
          }
          @media (max-width: 767px) {
            margin-right: 0;
          }
        }
        @media (max-width: 768px) {
          &:nth-child(2n) {
            margin-right: 0;
          }
        }
      }
    }
    .grid-70-30 {
      display: flex;
      flex-wrap: wrap;
      & > div {
        display: inline-block;
        margin-right: $gutter;
        width: calc(70% - #{$gutter * 1 / 2});
        &:nth-child(2n) {
          margin-right: 0;
          width: calc(30% - #{$gutter * 1 / 2});
          @media (max-width: 768px) {
            width: 100%;
          }
        }
        @media (max-width: 768px) {
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }
}

.mb-sm {
  margin-bottom: $gutter;
}
.ml-sm {
  margin-left: $gutter;
}
.bg-light {
  background-color: $gray-lightest;
}
.bs-md {
  //box-shadow: $bs-md;
  border-radius: 8px;
  // &:hover {
  //   box-shadow: $bs-lg;
  // }
  img {
    border-radius: 8px;
  }
}
// sendinblue subscripbe widget CSS
.sib-form {
  form {
    display: flex;
    align-items: center;
    .input {
      height: 44px;
      line-height: 44px;
      border-radius: 4px 0 0 4px;
      padding: 0 12px 0 16px;
      border: 0;
      font-size: 17px;
      font-weight: 500;
      &:focus {
        outline: none;
      }
    }
  }
}
.sib-form-message-panel {
  margin: 0 0 1.25rem 0;
  width: 100%;
  padding: 0.4375rem;
  border: 1px solid;
  display: none;
}
.sib-hide-loader-icon {
  display: none;
}
.sib-form .clickable__icon:not(.sib-icon_standalone) {
  margin-right: calc(0.7002rem - 1px);
}
.sib-form .progress-indicator__icon {
  -webkit-animation: indicator-spin 1.3s cubic-bezier(0.46, 0.35, 0.39, 0.85)
    infinite;
  animation: indicator-spin 1.3s cubic-bezier(0.46, 0.35, 0.39, 0.85) infinite;
}
.sib-form .clickable__icon {
  height: 1.5rem;
  vertical-align: bottom;
  width: 1.5rem;
}
.sib-hide-loader-icon {
  display: none;
}
.sib-form-message-panel__text {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.5rem;
}
.sib-form-message-panel__text .sib-notification__icon {
  height: 1.5em;
  width: 1.5em;
  flex-shrink: 0;
  margin-right: calc(1rem - 1px);
}
.sib-form-message-panel__text .sib-icon {
  contain: strict;
  display: inline-block;
  fill: currentColor;
}
.sib-form-message-panel--active {
  display: inline-block;
}
.sib-form *,
.sib-form ::after,
.sib-form ::before {
  box-sizing: border-box;
}

.react-tabs__tab--selected {
  border-bottom: 3px solid $blue-bright;
  color: $blue-bright !important;
  @media (max-width: 767px) {
    background: $blue-bright;
    color: $white !important;
  }
}

@keyframes indicator-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
.input--hidden {
  display: none !important;
}
