// This file contains variables for the colour palette used throughout the site, used for backgrounds, fonts, links, buttons, etc.
$font-stack: "Barlow", Helvetica, Arial, sans-serif;

// base font size
$basefont: 18px;
// gutters
$gutter: 24px;

// Neutral Tones
$white: #ffffff;
$black: #020b13;
$gray-dark: #757a7e;
$gray-darkest: #41484e;
$gray-medium: #b3b6b8;
$gray-light: #d1d3d4;
$gray-lightest: #fafafa;

$cta: #f15e22;

$success: #39b55a;
$warning: #f1a321;
$error: #e61728;

// brand tones
$blue-bright: #008ecf;
$blue-dark: #073857;
$blue-darkest: #09263c;
$blue-light: #e3f1f8;

//opacity variable
$transparent: transparent;
$opacity-disabled: 0.38;

$space-80: 80px;
$space-50: 50px;
$space-0: 0;

$bs-md: 0 1px 3px rgba(0, 0, 0, 0.06), 0 2px 6px rgba(0, 0, 0, 0.06),
  0 3px 8px rgba(0, 0, 0, 0.09);
$bs-lg: 0 1px 4px rgba(0, 0, 0, 0.09), 0 3px 8px rgba(0, 0, 0, 0.09),
  0 4px 13px rgba(0, 0, 0, 0.13);
