$font-stack: "Barlow", Helvetica, Arial, sans-serif;

$gutter: 24px;

$white: #fff;
$gray-lightest: #f5f5f5;
$gray-extra-light: #fafafa;
$gray-light: #d1d3d4;
$gray-medium: #b3b6b8;
$gray-dark: #757a7e;
$gray-darkest: #41484e;
$black: #020b13; /* void black */

$success: #39b55a;
$warning: #f1a321;
$error: #e61728;

$blue-lightest: #f5fbff;
$blue-light: #e3f1f8; /* neutron blue */
$blue-bright: #008ecf; /* terran blue */
$blue-dark: #073857; /* ether blue */
$blue-darkest: #09263c; /* cosmic blue */

$bg-color: #efefef;

$success: #39b55a;
$warning: #f1a321;
$error: #e61728;

$space-none: 0;
$space-x-sm: 16px;
$space-sm: 24px;
$space-md: 48px;
$space-lg: 96px;
$space-x-lg: 128px;
$space-auto: auto;

$transitionDuration: 350ms;

$transparent: transparent;
$opacity-disabled: 0.38;

$sidebar-width: 280px;

$sidebar-gray: #f7f7f7;
