@import "../styles/variables.scss";
.hacktoberfest {
  .hero-section {
    background: $blue-darkest;
    img {
      margin: 0 auto;
      display: block;
    }
  }
  .content {
    max-width: 900px;
    margin: 0 auto;
    .highlight {
      color: $blue-bright;
    }
  }
}

ul {
  margin-left: 16px;
}
