@import "../styles/variables.scss";
.bio {
  margin-top: auto;
  font-size: 16px;
  &.pinned {
    a {
      color: $blue-bright;
      font-weight: 500;
    }
  }
  p {
    font-size: 16px;
    margin-bottom: 0;
    color: $gray-dark;
  }
}
