@import "../styles/variables.scss";
.pinnedwrap {
  .blog-content-pinned {
    display: flex;
    margin: -15px auto;
    @media (max-width: 950px) {
      margin: 0 auto;
      flex-direction: column;
    }
    & > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      filter: brightness(0.95);
      -webkit-filter: brightness(0.95);
      &:nth-child(2) {
        padding-left: $gutter * 2;
        @media (max-width: 950px) {
          padding-left: 0;
        }
      }
      @media (max-width: 950px) {
        width: 100%;
      }
      @media (max-width: 480px) {
        padding: 0 0 15px;
      }
    }
    .avatar-pinned {
      img {
        width: (1200-#{$gutter * 2})/2 !important;
        -webkit-transition: opacity 0.3s ease-in-out !important;
        transition: opacity 0.3s ease-in-out !important;
      }

      a {
        & > div {
          @media (min-width: 951px) {
            height: 402px;
          }
          @media (max-width: 480px) {
            height: 257px;
          }
        }
        &:hover {
          img {
            opacity: 0.8 !important;
          }
        }
      }
    }
    h1 {
      margin-bottom: $gutter/2;
    }
    .text {
      margin-bottom: $gutter + $gutter/2;
      color: $gray-darkest;
      font-weight: 600;
      a {
        &:hover {
          opacity: 0.8;
        }
      }
      strong {
        font-weight: 600;
      }
    }
    p {
      margin-bottom: $gutter + $gutter/2;
    }
  }
  // pinned post detail pinned section
  &.post-detail {
    .blog-content-pinned {
      // flex-direction: row-reverse;
      @media (max-width: 950px) {
        flex-direction: column-reverse;
      }
      & > div {
        &:nth-child(1) {
          @media (max-width: 950px) {
            padding: 30px 0 15px 0;
          }
        }
        &:nth-child(2) {
          padding-right: 0;
          padding-left: $gutter * 2;
          @media (max-width: 950px) {
            padding: 0;
          }
        }
        &.avatar-pinned {
          & > div {
            @media (min-width: 951px) {
              height: 402px;
            }
            @media (max-width: 480px) {
              height: 257px;
            }
          }
        }
      }
    }
  }
}

.tag {
  &.pinned {
    a {
      border-radius: 100px;
      font-weight: 500;
      padding: $gutter/4 $gutter/2;
      border: 2px $blue-bright solid;
      font-size: 1rem;
      margin-right: $gutter/4 * 3;
      margin-bottom: $gutter/4 * 3;
      display: inline-flex;
      height: auto;
      background: none;
      text-transform: capitalize;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1;
      &:hover {
        background-color: $blue-bright;
        color: $white;
      }
    }
  }
}

.cardlist {
  .user {
    .avatar {
      filter: brightness(0.95);
      -webkit-filter: brightness(0.95);
      a {
        display: block;
        & > div {
          @media (min-width: 768px) {
            height: 257px;
          }
          @media (max-width: 480px) {
            height: 257px;
          }
        }
      }
    }
    img {
      -webkit-transition: 0.3s ease-in-out !important;
      transition: 0.3s ease-in-out !important;
    }
    &:hover {
      h3 {
        a {
          color: $blue-bright;
        }
      }
      picture {
        img {
          opacity: 0.8 !important;
        }
      }
    }
  }
}
.description-wrap {
  display: flex;
  flex-direction: column;
  // min-height: 195px;
  .tag {
    margin: $gutter 0 0;
    display: flex;
    flex-wrap: wrap;
    a {
      border-radius: 100px;
      font-weight: 500;
      padding: $gutter/4 $gutter/2;
      border: 2px $blue-bright solid;
      font-size: 1rem;
      margin-right: $gutter/4 * 3;
      margin-bottom: $gutter/4 * 3;
      display: inline-flex;
      height: auto;
      background: none;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1;
      text-transform: capitalize;
      &:hover {
        background-color: $blue-bright;
        color: $white;
      }
    }
  }
  p {
    margin-top: 12px;
    margin-bottom: $gutter;
    line-height: 1.5;
    font-size: 1.125rem;
    color: $gray-darkest;
  }
  h3 {
    margin: 0 0 $gutter 0;
  }
}

.sidebar {
  $transition: all 300ms;
  .sidebar-widget {
    &:not(:first-child) {
      margin-top: $gutter * 3;
    }
    &:last-child {
      margin-bottom: $gutter * 2;
    }
    &.subscribe {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      border-radius: $gutter/6;
      box-shadow: 0px 0px $gutter/4 0px $blue-bright;
      background-color: $lr-orange;
      & > * {
        background-color: $lr-orange;
      }
      & > input[type="text"] {
        padding: $gutter;
        color: $white;
        line-height: 1.2;
        text-align: center;
        border: none;
        &::placeholder {
          color: $white;
          font-size: 1rem;
          text-align: center;
          opacity: 0.2;
        }
        &:focus-visible,
        &:focus-within,
        &:focus {
          outline: none;
        }
      }
      & > input[type="submit"] {
        display: flex;
        justify-content: center;
        padding: $gutter/6 * 5 $gutter;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
        transition: $transition;
        height: auto;
        border-radius: 0;
        max-width: 100%;
        background-image: none !important;
        line-height: 1;
        cursor: pointer;
        opacity: 1;
        &:hover {
          opacity: 0.8;
          transform: scale(1);
          background-image: none !important;
        }
        &.disabled {
          color: rgba(255, 255, 255, 0.5);
          cursor: default;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    &.link {
      display: block;
      width: 100%;
      & > div {
        height: 125px;
        border-radius: $gutter/3 * 2;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: $transition;
      }
      & > h3 {
        margin-top: $gutter/2;
        margin-bottom: 0;
        color: $black;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3;
        opacity: 0.7;
        transition: $transition;
      }

      &:hover {
        & > div {
          opacity: 0.8;
        }
        & > h3 {
          color: $blue-bright;
          opacity: 1;
        }
      }
    }

    &.tags {
      $spaceBetween: $gutter/4 * 3;
      margin-left: -$spaceBetween/2;
      margin-right: -$spaceBetween/2;
      margin-bottom: -$spaceBetween;
      & > a {
        text-transform: capitalize;
        display: inline-block;
        padding: $gutter/4 $gutter/2;
        margin-left: $spaceBetween/2;
        margin-right: $spaceBetween/2;
        margin-bottom: $spaceBetween;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        border: 2px solid $blue-bright;
        border-radius: 100px;
        opacity: 1;
        &:hover {
          color: $white;
          background-color: $blue-bright;
          opacity: 1;
          transition: $transition;
        }
      }
    }

    &.posts {
      & > h3 {
        margin-bottom: $gutter;
        font-size: 1.5rem;
      }

      & > ul {
        & > li {
          margin-bottom: $gutter;
          font-size: 1.1rem;
          line-height: 1.5;
        }
      }
    }

    &.cta {
      background-color: $blue-darkest;
      border-radius: $gutter/3 * 2;
      box-shadow: 0px 0px $gutter/4 0px $blue-bright;
      & > .image {
        display: flex;
        padding: $gutter * 1.5;
        & > img {
          width: 65%;
          margin: auto;
          border: 1px solid $white;
          border-radius: $gutter/6;
        }
      }

      & > .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $gutter * 1.5;
        padding-top: 0;
        &:nth-child(1) {
          padding-top: $gutter * 1.5;
        }
        & > h3 {
          margin-bottom: $gutter;
          line-height: 1.2;
          color: $white;
          font-weight: 400;
        }
        & > p {
          margin-bottom: $gutter;
          line-height: 1.2;
          color: $white;
          font-size: 1.1rem;
        }

        & > .btn-primary {
          max-width: 100%;
          font-weight: 700;
        }
      }
      @media (max-width: 950px) {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
  &.detail-page {
    margin: 0;
    .subscribe-detail {
      margin-bottom: $gutter * 4;
      color: $white;
      border-radius: $gutter/6;
      box-shadow: 0px 0px $gutter/4 0px $blue-bright;
      background-color: $lr-orange;
      @media (max-width: 768px) {
        margin-bottom: $gutter * 3;
      }
      h3 {
        padding: $gutter;
      }
      & > div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin: 0;
        box-shadow: none;
        @media screen and (max-width: 550px) {
          flex-direction: column;
        }
        & > input[type="submit"] {
          max-width: 200px;
          @media screen and (max-width: 550px) {
            max-width: 100%;
          }
        }
        & > input[type="text"] {
          width: 100%;
          text-align: left;
          @media screen and (max-width: 550px) {
            text-align: center;
          }
          &::placeholder {
            text-align: left;
            @media screen and (max-width: 550px) {
              text-align: center;
            }
          }
        }
      }
    }
    .posts {
      margin-bottom: $gutter * 3;
    }
  }
}
