@import "../styles/variables.scss";
.pinnedwrap {
  border-bottom: 1px solid $gray-light;
  .blog-content-pinned {
    display: flex;
    margin: -15px auto;
    @media (max-width: 768px) {
      margin: 0 auto;
      flex-direction: column;
    }
    & > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      filter: brightness(0.95);
      -webkit-filter: brightness(0.95);
      &:nth-child(2) {
        padding-left: 30px;
        @media (max-width: 768px) {
          padding-left: 0;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .avatar-pinned {
      img {
        width: 100%;
      }

      a {
        & > div {
          @media (min-width: 769px) {
            height: 402px;
          }
          @media (max-width: 480px) {
            height: 257px;
          }
        }
      }
    }
  }
  // pinned post detail pinned section
  &.post-detail {
    .blog-content-pinned {
      flex-direction: row-reverse;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      & > div {
        &:nth-child(2) {
          padding-right: 30px;
          padding-left: 0;
          @media (max-width: 768px) {
            padding: 0;
          }
        }
      }
    }
  }
}

.tag {
  &.pinned {
    a {
      background-color: $gray-light;
      padding: 0 16px;
      border-radius: 4px;
      color: $black;
      line-height: 30px;
      font-size: 16px;
      height: 30px;
      display: inline-flex;
      margin-bottom: 20px;
      margin-right: 10px;
      &:hover {
        background-color: $blue-bright;
        color: $white;
      }
    }
  }
  a {
    background-color: $gray-light;
    padding: 0 16px;
    border-radius: 4px;
    color: $black;
    line-height: 30px;
    font-size: 16px;
    height: 30px;
    display: inline-flex;
    margin-bottom: 20px;
    &:hover {
      background-color: $blue-bright;
      color: $white;
    }
  }
}

.cardlist {
  .user {
    .avatar {
      filter: brightness(0.95);
      -webkit-filter: brightness(0.95);
      a {
        display: block;
        & > div {
          @media (min-width: 768px) {
            height: 257px;
          }
          @media (max-width: 480px) {
            height: 257px;
          }
        }
      }
    }
  }
}
.description-wrap {
  display: flex;
  flex-direction: column;
  // min-height: 195px;
  .tag {
    margin: 12px 0;
    display: flex;
    flex-wrap: wrap;
    a {
      color: $gray-dark;
      font-size: 16px;
      position: relative;
      margin: 0;
      background: transparent;
      padding: 0;
      border-radius: 0;
      &:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        &:after {
          right: 0px;
          top: 0;
          position: absolute;
          content: "|";
        }
      }

      &:hover {
        color: $blue-bright;
      }
    }
  }
  p {
    margin-top: 12px;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-size: 18px;
    color: #000;
  }
  h3 {
    margin: 0 0 12px 0;
  }
}
