@import "../styles/variables.scss";
.pinnedwrap {
  .blog-content-pinned {
    display: flex;
    margin: -15px auto;
    @media (max-width: 768px) {
      margin: 0 auto;
      flex-direction: column;
    }
    & > div {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      filter: brightness(0.95);
      -webkit-filter: brightness(0.95);
      &:nth-child(2) {
        padding-left: $gutter * 2;
        @media (max-width: 768px) {
          padding-left: 0;
        }
      }
      @media (max-width: 768px) {
        width: 100%;
      }
    }
    .avatar-pinned {
      img {
        width: (1200-#{$gutter * 2})/2 !important;
      }

      a {
        & > div {
          @media (min-width: 769px) {
            height: 402px;
          }
          @media (max-width: 480px) {
            height: 257px;
          }
        }
      }
    }
    h1 {
      margin-bottom: $gutter/2;
    }
    .text {
      margin-bottom: $gutter + $gutter/2;
      color: $gray-darkest;
      font-weight: 600;
      strong {
        font-weight: 600;
      }
    }
    p {
      margin-bottom: $gutter + $gutter/2;
    }
  }
  // pinned post detail pinned section
  &.post-detail {
    .blog-content-pinned {
      // flex-direction: row-reverse;
      @media (max-width: 768px) {
        flex-direction: column;
      }
      & > div {
        &:nth-child(2) {
          padding-right: 0;
          padding-left: $gutter * 2;
          @media (max-width: 768px) {
            padding: 0;
          }
        }
      }
    }
  }
}

.tag {
  &.pinned {
    a {
      border-radius: 36px;
      font-weight: 500;
      padding: $gutter/3 $gutter/2;
      border: 2px $blue-bright solid;
      font-size: 1rem;
      margin-right: $gutter/2;
      margin-bottom: $gutter/2;
      display: inline-flex;
      height: auto;
      background: none;
      line-height: 1;
      &:hover {
        background-color: $blue-bright;
        color: $white;
      }
    }
  }
}

.cardlist {
  .user {
    .avatar {
      filter: brightness(0.95);
      -webkit-filter: brightness(0.95);
      a {
        display: block;
        & > div {
          @media (min-width: 768px) {
            height: 257px;
          }
          @media (max-width: 480px) {
            height: 257px;
          }
        }
      }
    }
  }
}
.description-wrap {
  display: flex;
  flex-direction: column;
  // min-height: 195px;
  .tag {
    margin: $gutter 0 $gutter/2;
    display: flex;
    flex-wrap: wrap;
    a {
      border-radius: 36px;
      font-weight: 500;
      padding: $gutter/3 $gutter/2;
      border: 2px $blue-bright solid;
      font-size: 1rem;
      margin-right: $gutter/2;
      margin-bottom: $gutter/2;
      display: inline-flex;
      height: auto;
      background: none;
      line-height: 1;
      &:hover {
        background-color: $blue-bright;
        color: $white;
      }
    }
  }
  p {
    margin-top: 12px;
    margin-bottom: $gutter;
    line-height: 1.5;
    font-size: 1.125rem;
    color: $gray-darkest;
  }
  h3 {
    margin: 0 0 $gutter 0;
  }
}

.landing {
  &.sidebar {
    & > div {
      &:not(:last-child) {
        margin-bottom: $gutter * 3;
      }
    }
    form {
      background-color: $cta;
      border-radius: $gutter / 3;
      padding: $gutter/2;
      input[type="text"] {
        border: 0;
        width: 100%;
        text-align: center;
        padding: 12px 16px;
        background-color: $cta;
        color: rgba(255, 255, 255, 0.5);
        font-size: 1.25rem;
        &:focus {
          outline: none;
        }
      }
      .btn {
        max-width: 100%;
      }
    }
    .tag {
      a {
        margin-bottom: $gutter/1.5;
      }
    }
    .card {
      img {
        border-radius: $gutter/2;
        object-fit: fill;
        max-height: 120px;
      }
      h3 {
        margin-top: $gutter/2;
        margin-bottom: 0;
      }
      a {
        color: $gray-darkest;
      }
    }
  }
}
