.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
  background-color: #09263c;
}
.button {
  display: inline-block;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 500;
  cursor: pointer;
  background-color: #0d8dcf;
  color: rgb(255, 255, 255);
  width: auto;
  text-align: center;
  padding: 11px 15px;
  border-radius: 4px;
  margin: 12px 0;
}

.copyright {
  text-align: center;
  margin: 12px 0 !important;
  font-size: 18px;

  @media all and (max-width: 420px) {
    font-size: 14px;
  }
}

.menuLinks {
  text-align: center;
  display: flex;
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    @media screen and (max-width: 600px) {
      margin: 0;
    }
    li {
      padding: 0 20px;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      line-height: normal;
      @media screen and (max-width: 600px) {
        padding: 0 10px;
      }
      a {
        text-decoration: none;
        color: #fff;
        display: block;
        box-shadow: none;
      }
    }
    li:last-child {
      border: 0;
    }
  }
}

.social {
  text-align: center;
  display: flex;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    justify-content: center;
  }
  ul {
    list-style: none;
    display: flex;
    margin: 12px 0 0 0;
    li {
      padding: 0 20px 0 0;
      margin: 0px;
      a {
        box-shadow: none;
        display: block;
        img {
          vertical-align: middle;
          display: block;
        }
      }
    }
  }
}

.lr-content {
  margin: 3% 10%;
  width: 80%;
  @media screen and (max-width: 600px) {
    width: 92%;
    margin: 10% 4% 0 4%;
    text-align: center;
  }
  img {
    max-width: 200px;
    height: auto;
    @media screen and (max-width: 600px) {
      margin-bottom: 15px;
    }
  }
}
.copyrightwrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  margin: 0 10%;
  align-items: center;
  @media screen and (max-width: 600px) {
    width: 92%;
    margin: 0 4%;
    flex-direction: column;
  }
}
.post-page {
  @media all and (max-width: 600px) {
    padding-bottom: 50px;
  }
}

@media all and (max-width: 420px) {
  .menuLinks ul {
    margin-left: unset;
    li {
      padding: 0px 8px;
      font-size: 14px;
    }
  }
  .social {
    img {
      max-width: 75%;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      margin-bottom: 1.75rem;
    }
  }
}
