@import "../styles/variables.scss";

.footer-wrap {
  background-color: $blue-darkest;
  color: $white;
  font-size: 1.125rem;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2000 500' style='enable-background:new 0 0 2000 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bopacity:5.000000e-02;%7D .st2%7Bfill:%23E2F2FC;%7D%0A%3C/style%3E%3Ctitle%3EF TR%3C/title%3E%3Cg id='e326d5d2-d6f0-42e9-b08a-18f4cb6c1bbe'%3E%3Cg id='f3bc2b47-f465-4c46-b1bd-daaf7475940b'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' x='1681' width='319' height='215'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cg class='st1'%3E%3Ccircle class='st2' cx='2016' cy='-139' r='289'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: top right;
  p {
    font-size: 1.125rem;
  }
  .lr-content {
    margin: 40px 0;
    img {
      max-width: 200px;
      height: auto;
      margin-bottom: 1.45rem;
      @media (max-width: 768px) {
        margin: 0 auto 1.45rem auto;
      }
    }
    .social {
      max-width: 200px;
      height: auto;
      @media (max-width: 768px) {
        margin: 0 auto;
      }
      ul {
        list-style: none;
        display: flex;
        margin: 12px 0 0;
        @media (max-width: 768px) {
          justify-content: center;
        }
        li {
          margin: 0;
          &:not(:last-child) {
            padding: 0 20px 0 0;
          }
          a {
            box-shadow: none;
            display: block;
            &:hover {
              img {
                opacity: 0.7;
                transition: all 0.2s;
              }
            }
            img {
              @media (max-width: 768px) {
                margin: 0;
              }
            }
          }
        }
      }
    }
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  .copyrightwrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    align-items: center;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    .copyright {
      text-align: center;
      margin: 12px 0;
      font-size: 1.125rem;
      display: flex;
      @media (max-width: 768px) {
        margin: 0 0 40px 0;
      }
      p {
        margin-bottom: 0;
        margin-right: 4px;
      }
    }
    .menuLinks {
      text-align: center;
      display: flex;
      ul {
        list-style: none;
        display: flex;
        margin: 0;
        @media (max-width: 767px) {
          flex-wrap: wrap;
        }
        li {
          padding: 0 20px;
          line-height: normal;
          margin: 0;
          &:not(:last-child) {
            border-right: 1px solid hsla(0, 0%, 100%, 0.2);
            @media (max-width: 767px) {
              border-right: none;
            }
          }
          a {
            text-decoration: none;
            color: $white;
            display: block;
            box-shadow: none;
            &:hover {
              text-decoration: underline;
            }
          }
          @media (max-width: 767px) {
            width: 100%;
            padding: 0;
            line-height: 30px;
          }
        }
      }
    }
  }
}
