@import "../styles/variables.scss";
.freetrial-wrap {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2000 500' style='enable-background:new 0 0 2000 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bopacity:0.5;%7D .st2%7Bfill:%23E2F2FC;%7D%0A%3C/style%3E%3Ctitle%3EA BR%3C/title%3E%3Cg id='a1108eb9-8f9f-437c-991f-cda86e8db2f6'%3E%3Cg id='a483b5f0-3cd4-4b70-9661-bc4d9788cee1'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' x='1681' y='36.2' width='319' height='463.8'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cg class='st1'%3E%3Ccircle class='st2' cx='2016' cy='361' r='289'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"),
    url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 2000 500' style='enable-background:new 0 0 2000 500;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bclip-path:url(%23SVGID_2_);%7D .st1%7Bopacity:0.3;%7D .st2%7Bfill:%23E2F2FC;%7D%0A%3C/style%3E%3Ctitle%3EA TL%3C/title%3E%3Cg id='b9b69e7a-05f4-400a-836a-baf8945357c4'%3E%3Cg id='a1db0ef8-e0d6-4259-b931-9182bb5a822a'%3E%3Cg%3E%3Cg%3E%3Cdefs%3E%3Crect id='SVGID_1_' width='257' height='430'/%3E%3C/defs%3E%3CclipPath id='SVGID_2_'%3E%3Cuse xlink:href='%23SVGID_1_' style='overflow:visible;'/%3E%3C/clipPath%3E%3Cg class='st0'%3E%3Cg class='st1'%3E%3Ccircle class='st2' cx='72' cy='251' r='163'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, top left;
  .freetrial {
    text-align: center;
    display: flex;
    align-items: center;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    .btn-primary {
      margin: 15px 0;
      @media (max-width: 767px) {
        margin: 15px auto;
      }
    }
    .content {
      width: 50%;
      text-align: left;
      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
        a {
          margin: 0 auto;
        }
      }
    }
    .heading {
      p {
        margin: 20px 0;
        line-height: 68px;
      }
      .number {
        margin-right: 6px;
        font-size: 60px;
        font-weight: 700;
      }
    }

    .lists {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
        margin-top: 40px;
      }
      ul {
        margin: 0;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        li {
          font-size: 18px;
          margin: 0 0 20px;
          list-style: none;
          padding: 0 0 0 40px;
          font-weight: 600;
          position: relative;
          width: 50%;
          text-align: left;
          &:before {
            content: "";
            background-image: url("data:image/svg+xml, %3Csvg id='a2e7bcc7-6fd7-4fea-a944-ee4d7839c6a4' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E.a741f83a-7123-4be0-b492-a31fb9ced50b %7B fill: none; stroke: %23008ecf; stroke-linecap: round; stroke-linejoin: round; stroke-width: 4px; %7D%3C/style%3E%3C/defs%3E%3Cpath id='ef586f63-e639-45ee-bd06-c9e40b045275' data-name='Shape 384' class='a741f83a-7123-4be0-b492-a31fb9ced50b' d='M84,30.74,41.15,73.59a5.87,5.87,0,0,1-8.3,0L19.38,60.13'/%3E%3C/svg%3E");
            width: 24px;
            height: 24px;
            top: 2px;
            left: 0;
            position: absolute;
          }
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
  }
}
