@import "../styles/variables.scss";
.top-strip {
  position: relative;
  z-index: 4;
  p {
    background-color: $white;
    padding: 16px 30px;
    text-align: center;
    margin: 0;
    font-family: "Barlow", "Helvetica", "Arial", sans-serif;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 24px;
    @media (max-width: 992px) {
      text-align: left;
      padding: 16px 40px 16px 16px;
    }
  }
  .close-icon {
    color: $gray-darkest;
    top: calc(50% - 8px);
    right: 16px;
    position: absolute;
    text-decoration: none;
    font-family: arial;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 16px;
    width: 16px;
    height: 16px;
    background-color: $white;
    @media (max-width: 767px) {
      width: 18px;
      height: 18px;
      background-size: 18px;
      margin: 0;
      top: calc(50% - 18px);
    }
  }
}
.header {
  width: 100%;
  display: flex;
  min-height: 96px;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 15;
  margin-bottom: 12px;
  background-color: $white;
  @media (max-width: 768px) {
    flex-direction: column;
    min-height: 90px;
    // box-shadow: 0 2px 2px 0px rgba(0, 142, 207, 0.12),
    //   0 3px 3px 0px rgba(0, 142, 207, 0.12);
    margin-bottom: 0;
  }
  @media (max-width: 480px) {
    min-height: 65px;
  }

  img {
    margin-bottom: 0;
  }
  & > .logo {
    display: flex;
    align-items: stretch;
    width: 264px;
    height: 96px;
    padding: 0 36px;
    @media (max-width: 768px) {
      width: 168px;
      padding: 0 24px;
      height: 90px;
    }
    @media (max-width: 480px) {
      height: 65px;
    }
  }

  .hamburger {
    left: 0;
    top: 0;
    position: absolute;
    display: flex;
    width: 85px;
    height: 90px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 1px 0;
    cursor: pointer;
    @media (min-width: 769px) {
      display: none;
    }
    @media (max-width: 480px) {
      height: 65px;
      width: 64px;
    }
    span {
      width: 25px;
      height: 2px;
      margin-bottom: 3px;
      margin-top: 3px;
      background-color: $blue-bright;
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      @media (max-width: 480px) {
        width: 20px;
        height: 1.5px;
        margin-bottom: 2px;
        margin-top: 3px;
      }
    }
    &.active {
      span {
        &:first-child {
          -webkit-transform: translateY(9px) rotate(45deg);
          -ms-transform: translateY(9px) rotate(45deg);
          -o-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg);
          @media (max-width: 480px) {
            -webkit-transform: translateY(7px) rotate(45deg);
            -ms-transform: translateY(7px) rotate(45deg);
            -o-transform: translateY(7px) rotate(45deg);
            transform: translateY(7px) rotate(45deg);
          }
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          -webkit-transform: translateY(-7px) rotate(-45deg);
          -ms-transform: translateY(-7px) rotate(-45deg);
          -o-transform: translateY(-7px) rotate(-45deg);
          transform: translateY(-7px) rotate(-45deg);
          @media (max-width: 480px) {
            -webkit-transform: translateY(-6px) rotate(-45deg);
            -ms-transform: translateY(-6px) rotate(-45deg);
            -o-transform: translateY(-6px) rotate(-45deg);
            transform: translateY(-6px) rotate(-45deg);
          }
        }
      }
      & ~ .btn-search {
        display: none;
      }
    }
  }
}

.navigation {
  width: 100%;
  background: $white;
  @media (min-width: 768px) {
    box-shadow: 0 2px 2px 0px rgba(0, 142, 207, 0.12),
      0 3px 3px 0px rgba(0, 142, 207, 0.12);
  }
  @media (max-width: 768px) {
    height: auto;
    position: absolute;
    z-index: 12;
    left: 0;
    top: 90px;
    // -webkit-transform: translate3d(0, -100%, 0);
    // -ms-transform: translate3d(0, -100%, 0);
    // transform: translate3d(0, -100%, 0);
    box-shadow: 0 2px 2px 0px rgba(0, 142, 207, 0.12),
      0 3px 3px 0px rgba(0, 142, 207, 0.12);
    &.open,
    &.close {
      -webkit-animation-duration: 300ms;
      animation-duration: 300ms;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      transition-delay: 0s;
    }

    &.open {
      -webkit-animation-name: mobileNavOpen;
      animation-name: mobileNavOpen;
    }
    &.close {
      -webkit-animation-name: mobileNavClose;
      animation-name: mobileNavClose;
    }
  }
  @media (max-width: 480px) {
    top: 65px;
  }
  ul {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: $gutter * 3;
    list-style: none;
    position: relative;
    @media (max-width: 768px) {
      flex-direction: column;
      height: auto;
    }
    li {
      margin: 0;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-weight: 700;
      @media (max-width: 768px) {
        text-align: left;
      }
      a {
        color: $gray-darkest;
        display: flex;
        height: 72px;
        justify-content: center;
        align-items: center;
        @media (max-width: 768px) {
          justify-content: flex-start;
          padding: 0 $gutter + $gutter/3;
        }
        @media (max-width: 480px) {
          padding: 0 $gutter;
        }
        &:hover {
          opacity: 0.8;
        }
      }
      &.active {
        a {
          color: $blue-bright;
          @media (max-width: 768px) {
            color: $white;
          }
        }
        @media (max-width: 768px) {
          background-color: $blue-bright;
        }
      }
      &:nth-child(2) {
        &.active {
          & ~ hr {
            // -webkit-animation-name: engineering;
            // animation-name: engineering;
            left: 25%;
          }
        }
      }
      &:nth-child(3) {
        &.active {
          & ~ hr {
            // -webkit-animation-name: identity;
            // animation-name: identity;
            left: 50%;
          }
        }
      }
      &:nth-child(4) {
        &.active {
          & ~ hr {
            // -webkit-animation-name: growth;
            // animation-name: growth;
            left: 75%;
          }
        }
      }
    }
    hr {
      height: 3px;
      width: 25%;
      margin: 0;
      background: $blue-bright;
      border: none;
      -webkit-animation-duration: 300ms;
      animation-duration: 300ms;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      left: 0;
      bottom: 0;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
}

// nav open
@keyframes mobileNavOpen {
  from {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes mobileNavOpen {
  from {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

// nav close
@keyframes mobileNavClose {
  from {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@-webkit-keyframes mobileNavClose {
  from {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  to {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

// Engineering
@keyframes engineering {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

@-webkit-keyframes engineering {
  from {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}

// Identity
@keyframes identity {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
}

@-webkit-keyframes identity {
  from {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }
}

// Growth
@keyframes growth {
  from {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(200%);
  }

  to {
    -webkit-transform: translateX(300%);
    -ms-transform: translateX(300%);
    transform: translateX(300%);
  }
}

@-webkit-keyframes growth {
  from {
    -webkit-transform: translateX(200%);
    -ms-transform: translateX(200%);
    transform: translateX(100%);
  }

  to {
    -webkit-transform: translateX(300%);
    -ms-transform: translateX(300%);
    transform: translateX(300%);
  }
}
