@import "../styles/variables.scss";
.top-strip {
  p {
    background-color: #fff;
    padding: 16px 30px;
    text-align: center;
    margin: 0;
    font-family: "Barlow", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 500;
  }
  .close-icon {
    color: #000;
    top: 17.5px;
    right: 15px;
    position: absolute;
    text-decoration: none;
    font-family: arial;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-size: 14px;
    width: 14px;
    height: 14px;
    margin-top: 8px;
    background-color: $white;
  }
}
.header {
  width: 100%;
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }
  img {
    margin-bottom: 0;
  }
  & > a {
    display: flex;
    align-items: stretch;
    width: 280px;
    height: 96px;
    padding: 0 48px 0 32px;
  }
  .menuLinks {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 85.4%;
    height: 96px;
    list-style: none;
    @media (max-width: 768px) {
      width: 100%;
      flex-direction: column;
      height: auto;
    }
    .menuLinksinner {
      position: relative;
      display: flex;
      align-items: stretch;
      height: 96px;
      list-style: none;
      @media (max-width: 768px) {
        justify-content: center;
        height: auto;
      }
    }
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      flex-wrap: wrap;
      @media (max-width: 768px) {
        justify-content: center;
      }
      li {
        margin: 0;
        display: flex;
        a {
          padding: 0 20px;
          color: rgba(255, 255, 255, 0.9);
          font-weight: 500;
          letter-spacing: 0.6px;
          text-decoration: none;
          &:hover {
            color: $white;
          }
          @media (max-width: 479px) {
            padding: 0 15px;
            font-size: 16px;
          }
        }
      }
    }
  }
  .nav-right-side {
    height: 96px;
    display: flex;
    align-items: center;
    margin-right: 32px;
    position: relative;
    justify-content: flex-end;
    margin-left: auto;
    @media (max-width: 768px) {
      margin-right: 0;
      justify-content: space-between;
      padding: 0 32px;
      margin: 0;
    }
    .free-signup {
      display: flex;
      -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
      align-self: stretch;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 60px;
      z-index: 1;
      @media (max-width: 768px) {
        margin-right: 0;
      }
      .navcta {
        height: 44px;
        line-height: 44px;
      }
    }
  }
  a {
    display: flex;
    align-items: center;
  }
}

.search-wrapper {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  width: 300px;
  @media (max-width: 768px) {
    right: 32px;
    width: calc(100% - 50px);
  }
  a {
    &.search-button {
      width: 50px;
      font-size: 16px;
      background: transparent
        url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzNS4zNCAzNS4zNCI+PGRlZnM+PHN0eWxlPi5jbHMtMXtmaWxsOiNmZmY7fTwvc3R5bGU+PC9kZWZzPjx0aXRsZT5BcnRib2FyZCAxPC90aXRsZT48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0yNS4yNiwyMi4yM2gtMS42bC0uNTYtLjU1YTEzLjE1LDEzLjE1LDAsMSwwLTEuNDIsMS40MmwuNTUuNTZ2MS42bDEwLjEsMTAuMDgsMy0zWm0tMTIuMTIsMGE5LjEsOS4xLDAsMSwxLDkuMDktOS4wOUE5LjA4LDkuMDgsMCwwLDEsMTMuMTQsMjIuMjNaIi8+PC9zdmc+)
        no-repeat center;
      background-size: 20px 25px;
      justify-content: center;
      flex-direction: column;
      height: 44px;
      border-radius: 0 4px 4px 0;
    }
  }
  .search-term {
    width: 0%;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    border: 1px solid $white;
    height: 44px;
    padding: 0 10px;
    font-size: 16px;
    border-radius: 4px;
    padding: 0;
    z-index: -1;
  }
  ul {
    width: 300px;
    top: 42px;
    padding: 1em;
    position: absolute;
    list-style: none;
    z-index: 999;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: $white;
    border: 0;
    border-top: 0;
    border-radius: 0 0px 8px 8px;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px $gray-light;
    @media (max-width: 768px) {
      width: calc(100% - 12px);
    }
    li {
      border-bottom: solid 1px $gray-light;
      padding-bottom: 1em;
      display: flex;
      flex-direction: column;
      p {
        font-size: 16px;
      }
      a {
        font-weight: 500 !important;
        color: $black !important;
        padding: 0 !important;
        &:hover {
          color: $blue-bright !important;
        }
      }
    }
    li:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
}

.search-term-open {
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  width: 250px !important;
  opacity: 1 !important;
  border-radius: 4px 0 0 4px !important;
  padding: 0 15px !important;
  z-index: 2 !important;
  @media (max-width: 768px) {
    width: calc(100% - 65px) !important;
  }
  & ~ a {
    background-color: $blue-bright !important;
  }
  &:focus {
    outline: none;
  }
}
