@import "../styles/variables.scss";
.header {
  width: 100%;
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  background-color: $black;
  @media screen and (max-width: 999px) {
    height: auto;
  }
  & > a {
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 280px;
    height: 96px;
    padding: 0 48px 0 32px;
    @media screen and (max-width: 999px) {
      height: 56px;
    }
    img {
      width: 100%;
      max-width: 250px;
      max-height: 96px;
      margin: 0 auto;
    }
  }
  .logo {
    background-color: #000;
  }
}
.button {
  display: inline-block;
  font-size: 16px;
  line-height: 1.15;
  font-weight: 500;
  cursor: pointer;
  background-color: $blue-bright;
  color: $white;
  width: auto;
  text-align: center;
  padding: 11px 15px;
  border-radius: 4px;
  margin: 12px 0;
}

.menuLinks {
  position: relative;
  display: flex;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: calc(100% - 14.6%);
  height: 96px;
  list-style: none;
  @media screen and (max-width: 999px) {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  nav {
    ul {
      list-style: none;
      display: flex;
      margin: 0;
      @media screen and (max-width: 600px) {
        justify-content: center;
      }
      li {
        margin: 0;
        display: flex;
        a {
          display: flex;
          -webkit-align-self: stretch;
          -ms-flex-item-align: stretch;
          align-self: stretch;
          -webkit-align-items: center;
          -ms-flex-align: center;
          align-items: center;
          padding: 0 20px;
          color: $white;
          font-weight: 500;
          letter-spacing: 0.6px;
          text-decoration: none;
          font-size: 18px;
          @media screen and (max-width: 600px) {
            font-size: 16px;
            padding: 0 10px;
          }
        }
      }
    }
  }
}
.search-wrapper {
  width: 28em;
  height: 96px;
  display: flex;
  align-items: center;
  margin-right: 32px;
  position: relative;
  @media screen and (max-width: 999px) {
    width: 100%;
    margin-right: 0;
  }
  ul {
    width: 100%;
    top: 62px;
    padding: 1em;
    position: absolute;
    list-style: none;
    z-index: 999;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background: #fff;
    border: 0;
    border-top: 0;
    border-radius: 0 0px 8px 8px;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px $gray-light;
    li {
      border-bottom: solid 1px $gray-light;
      padding-bottom: 1em;
      display: flex;
      flex-direction: column;
      p {
        font-size: 16px;
      }
      a {
        font-weight: 500;
      }
    }
    li:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
    z-index: 9999;
    .search-term {
      width: 100%;
      height: 3em;
      // border: 1px solid $blue-bright;
      border: 0;
      border-right: none;
      padding: 10px;
      border-radius: 8px 0 0 8px;
      outline: none;
      color: #000;
      font-size: 16px;
    }
    .search-button {
      width: 40px;
      // border: 1px solid $blue-bright;
      border: 0;
      border-left: 0;
      background: $white;
      text-align: center;
      color: $blue-bright;
      border-radius: 0 8px 8px 0;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.search-list {
  ul {
    @media all and (max-width: 999px) {
      width: 100%;
      top: 39px;
      margin: 0;
    }
  }
}

@media all and (max-width: 999px) {
  .header {
    width: 100%;
    display: flex;
    padding: 2em;
    flex-direction: column;
    .search-wrapper {
      width: 100%;
    }
  }
}

@media all and (max-width: 600px) {
  .header {
    padding: 2em;
    .menuLinks {
      flex-direction: column;
      ul {
        margin-left: unset;
      }
      a {
        margin: 1em auto;
      }
    }
  }
}
