@import "../styles/variables.scss";
.blog-content {
  padding: 0 10%;
  @media screen and (max-width: 768px) {
    padding: 0 4%;
  }
}
.blog-content-pinned {
  padding: 0 10%;
  @media screen and (max-width: 768px) {
    padding: 0 4%;
  }
}
.pinnedwrap {
  background-color: $blue-darkest;
  .tag {
    background-color: $blue-bright;
    color: $white;
  }
}
.content {
  display: flex;
  h2 {
    margin: 1.75em 0 1em 0;
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
  main {
    width: 100%;
  }
  .lists {
    width: 100%;
  }
}

@media all and (max-width: 420px) {
  .user {
    flex-direction: column;
  }
  .avatar-pinned {
    width: 100%;
  }
}
