@import "../styles/variables.scss";
.pagination-wrap {
  margin: $gutter * 3 0;
  .pagination {
    display: flex;
    justify-content: center;
    a {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: none;
      font-weight: 500;
      font-size: 1.125rem;
      @media (max-width: 768px) {
        padding: 0 5px;
      }
      span {
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        border-radius: 4px;
        transition: all 0.2s;
      }
      &.active,
      &:hover {
        span {
          color: $white;
          background-color: $blue-bright;
        }
        &[rel="prev"],
        &[rel="next"] {
          svg {
            path {
              stroke: $white;
            }
          }
        }
      }
    }
    p {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
  }
}
