@import "../styles/variables.scss";
.pagination-wrap {
  margin: $gutter * 3 0;
  .pagination {
    display: flex;
    justify-content: center;
    a {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      margin: 0 10px;
      box-shadow: none;
      font-weight: 500;
      @media (max-width: 768px) {
        padding: 0 5px;
      }
      &.active,
      &:hover {
        color: $white;
        background-color: $blue-bright;
        transition: all 0.2s;
      }
      &[rel="next"],
      &[rel="prev"] {
        position: relative;
        &:before {
          content: "";
          width: 15px;
          height: 2px;
          background: #0d8dcf;
          position: absolute;
          top: 10px;
          right: 8px;
          transform: rotate(45deg);
        }
      }
      &[rel="next"],
      &[rel="prev"] {
        position: relative;
        &:after {
          content: "";
          width: 15px;
          height: 2px;
          background: #0d8dcf;
          position: absolute;
          top: 20px;
          right: 8px;
          transform: rotate(-45deg);
        }
      }
      &[rel="prev"] {
        &:before {
          transform: rotate(-45deg);
          right: auto;
        }
      }
      &[rel="prev"] {
        &:after {
          transform: rotate(45deg);
          right: auto;
        }
      }
      &[rel="next"],
      &[rel="prev"] {
        &:hover {
          &:after,
          &:before {
            background-color: $white;
          }
        }
      }
    }
    p {
      margin-bottom: 0;
    }
  }
}
