@import "../styles/variables.scss";
.container {
  margin: 0 auto;
  width: 100%;
  .image {
    height: 300px;
  }
  h1 {
    margin: 8px 0;
  }
  ul,
  ol {
    padding-left: 20px;
  }
}
.header {
  margin: 80px 0 40px;
}
.metaInfo {
  color: $gray-dark;
  display: flex;
  margin: 16px 0;
  @media screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.space-line {
  height: 1px;
  margin: 14px;
  width: 20px;
  background: $gray-dark;
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.social {
  position: absolute;
  left: 0px;
  top: 200px;
}

.social-links {
  max-height: 100%;
  position: fixed;
  @media screen and (max-width: 600px) {
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }
  ul {
    list-style: none;
    display: flex;
    margin: 16px 0 0 0;
    flex-direction: column;
    font-size: 16px;
    padding: 0;
    @media screen and (max-width: 600px) {
      margin: 0;
      flex-direction: row;
      width: 100%;
      flex: 1;
    }
    li {
      margin: 0 0 2px 0;
      width: fit-content;
      height: 42px;
      @media screen and (max-width: 600px) {
        margin: 0;
        width: 100%;
      }
      a {
        box-shadow: none;
        height: 100%;
        display: flex;
        align-items: center;
        transition: 0.2s;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        img {
          height: 42px;
          width: 42px;
          padding: 5px;
          @media screen and (max-width: 600px) {
            margin: 0 auto;
            display: block;
          }
        }
      }
      a:hover {
        padding-left: 10px;
      }
    }
  }
}

.facebook {
  background-color: #3b71e1;
}
.twitter {
  background-color: #55acee;
}
.linkedin {
  background-color: #007bb6;
}

.related-post {
  p {
    font-size: 20px;
    margin: 20px 0 10px;
  }
  ul {
    list-style: none;
    margin-left: 0px;
    padding: 0;
  }
}
