@import "../styles/variables.scss";
.post-detail {
  h3 {
    margin-bottom: 15px;
  }
  ul {
    padding: 0 0 0 40px;
    margin: 0 0 30px 0;
    font-size: 20px;
    line-height: 32px;
  }
  .post-content {
    padding-right: $space-50;
    @media (max-width: 768px) {
      padding-right: 0;
    }
    .post-description {
      border-bottom: 1px solid $gray-light;
    }
    blockquote {
      color: $blue-bright;
      background-color: $blue-light;
      border: 1px solid $blue-bright;
      border-radius: 6px;
      padding: 8px 16px;
      margin: 0 0 30px 0;
      strong {
        font-weight: bold;
      }
    }
  }
  .sidebar {
    hr {
      margin: 40px 0;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: $gray-light;
      background-color: transparent;
    }
    .related-post-row {
      a {
        color: $blue-bright;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $gray-light;
        margin-bottom: 40px;
        padding-bottom: 10px;
      }
    }
    .tag {
      a {
        background-color: $gray-light;
        padding: 0 16px;
        border-radius: 4px;
        color: $black;
        line-height: 30px;
        font-size: 16px;
        height: 30px;
        display: inline-flex;
        margin-bottom: 20px;
        margin-right: 10px;
        margin-bottom: 15px;
        &:hover {
          background-color: $blue-bright;
          color: $white;
        }
      }
    }
  }
}

// Authore CSS

.author {
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .author-image {
    width: 100px;
    margin-right: 30px;
    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  .about-author {
    display: flex;
    flex-direction: column;
    flex: 1;
    &-inner {
      margin-right: 24px;
      width: calc(70% - 12px);
      padding-right: 50px;
      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0px;
        padding-right: 0;
      }
    }
  }
}
