@import "../styles/variables.scss";
.post-detail {
  h2 {
    &:first-child {
      margin-top: 0;
    }
  }
  h3 {
    margin-bottom: 15px;
  }
  ul {
    padding: 0 0 0 $gutter;
    margin: 0;
    font-size: 1.125rem;
    line-height: 32px;
  }
  .post-content {
    .post-description {
      border-bottom: 1px solid $gray-light;
    }
    blockquote {
      border-left: 3px solid $blue-bright;
      border-radius: 0 6px 6px 0;
      padding: 8px 16px;
      margin: 0 0 30px;
      border: 1px solid #efefef;
      border-left-width: 3px;
      border-left-color: $blue-bright;
      font-style: italic;
      strong {
        font-weight: bold;
      }
    }
  }
  .sidebar {
    // position: sticky;
    // top: 80px;
    // height: fit-content;
    & > div {
      &:not(:last-child) {
        margin-bottom: $gutter * 3;
      }
    }
    ul {
      li {
        a {
          color: $blue-bright;
          font-weight: 500;
        }
        &:not(:last-child) {
          margin-bottom: $gutter;
        }
      }
    }
    h3 {
      margin-bottom: $gutter;
    }
    hr {
      margin: 40px 0;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: $gray-light;
      background-color: transparent;
    }
    .related-post-row {
      a {
        color: $blue-bright;
      }
    }
    .tag {
      a {
        border-radius: 100px;
        font-weight: 500;
        padding: $gutter/4 $gutter/2;
        border: 2px $blue-bright solid;
        margin-right: $gutter/4 * 3;
        margin-bottom: $gutter/4 * 3;
        display: inline-flex;
        height: auto;
        background: none;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        text-transform: capitalize;

        &:hover {
          background-color: $blue-bright;
          color: $white;
        }
      }
    }
    .follow-btn {
      a {
        display: flex;
        margin-top: 0.5em;
        p {
          margin: 0 0 0 0.5em;
          line-height: normal;
          color: $gray-dark;
          &:hover {
            color: $gray-darkest;
          }
        }
        svg {
          width: 1.5em;
          margin-top: 3px;
        }
      }
    }
  }
  .post-detail-inner {
    border-top: 1px solid $gray-light;
  }
}

// Authore CSS

.author {
  @media (max-width: 768px) {
    flex-direction: column;
  }
  .author-image {
    width: 100px;
    margin-right: 30px;
    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
    img {
      transition: all 300ms;
    }
    a {
      &:hover {
        img {
          transition: all 300ms;
          opacity: 0.8;
        }
      }
    }
  }
  .about-author {
    display: flex;
    flex-direction: column;
    flex: 1;
    &-inner {
      margin-right: $gutter * 3;
      width: calc(67% - 72px);
      @media (max-width: 768px) {
        width: 100%;
        margin-right: 0px;
        padding-right: 0;
      }
    }
    h3 {
      a {
        color: $blue-bright;
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
.lastUpdated {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-left: 50px;
  position: relative;
}

.bg-bright-01 {
  background-color: $blue-bright;
  .grid-66-33 {
    &.cta-small {
      padding: 48px $gutter;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
    & > div {
      display: inline-block;
      float: left;
      margin-right: $gutter;
      width: calc(67% - #{$gutter * 1 / 2});
      @media screen and (max-width: 1024px) {
        float: none;
        display: block;
        width: 100%;
      }
      &:nth-child(2) {
        margin-right: 0;
        width: calc(33% - #{$gutter * 1 / 2});
        @media screen and (max-width: 1024px) {
          float: none;
          display: block;
          width: 100%;
          margin-top: $gutter;
        }
      }
    }
    .cta-small-button {
      p {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        @media screen and (max-width: 1024px) {
          align-items: flex-start;
        }
        a {
          display: inline-block;
          width: 100%;
          max-width: 308px;
          margin-bottom: 0;
          background-color: $white;
          color: $cta;
          box-shadow: none;
          transition: 0.3s ease-in 0s;
          background-size: 250% auto;
          background-image: linear-gradient(
            -85deg,
            $white 0%,
            $white 40%,
            rgba(0, 142, 207, 0.2) 50%,
            $white 60%,
            $white 100%
          );
        }
        span {
          margin-top: 12px;
        }
      }
    }
  }
  h3,
  p {
    color: $white;
  }
  h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    margin: 0 0 20px;
  }
  p {
    font-size: 1.125rem;
    line-height: 26px;
    margin-bottom: 0;
  }
  b {
    font-weight: 600;
  }
}

// new CSS
.side-bar {
  $transition: all 300ms;
  .side-bar-widget {
    &:not(:first-child) {
      margin-top: $gutter * 3;
    }
    &.subscribe {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      border-radius: $gutter/6;
      box-shadow: 0px 0px $gutter/4 0px $blue-bright;
      & > * {
        background-color: $cta;
      }
      & > input[type="text"] {
        padding: $gutter;
        color: $white;
        line-height: 1.2;
        text-align: center;
        border: none;
        font-size: 1.25rem;
        line-height: 1.2;
        &::placeholder {
          color: $white;
          font-size: 1.25rem;
          text-align: center;
          opacity: 0.2;
        }
        &:focus-visible,
        &:focus-within,
        &:focus {
          outline: none;
        }
      }

      & > input[type="submit"] {
        display: flex;
        justify-content: center;
        padding: $gutter/6 * 5 $gutter;
        color: $white;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
        transition: $transition;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    &.link {
      display: block;
      width: 100%;
      & > div {
        height: 125px;
        border-radius: $gutter/3 * 2;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        transition: $transition;
      }
      & > h3 {
        margin-top: $gutter/2;
        margin-bottom: 0;
        color: $gray-dark;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.3;
        transition: $transition;
      }
      &:hover {
        & > div {
          opacity: 0.8;
        }
        & > h3 {
          color: $blue-bright;
        }
      }
    }

    &.tags {
      & > a {
        display: inline-block;
        padding: $gutter/4 $gutter/2;
        margin-right: $spaceBetween;
        margin-bottom: $spaceBetween;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1;
        border: 2px solid $blue-bright;
        border-radius: 100px;
        opacity: 1;
        text-transform: capitalize;
        &:hover {
          color: $white;
          background-color: $blue-bright;
          opacity: 1;
          transition: $transition;
        }
      }
    }

    &.posts {
      & > h3 {
        margin-bottom: $gutter;
        font-size: 1.5rem;
      }
      & > ul {
        & > li {
          margin-bottom: $gutter;
          a {
            color: $blue-bright;
            font-size: 1.125rem;
            line-height: 1.5;
          }
        }
      }
    }

    &.cta {
      background-color: $blue-dark;
      border-radius: $gutter/3 * 2;
      padding: $gutter * 1.5;
      box-shadow: 0px 0px $gutter/4 0px $blue-bright;
      p {
        color: $white;
        font-size: 1.5rem;
        margin-top: $gutter;
      }
      img {
        width: 65%;
        margin: auto;
        border: 1px solid $white;
        border-radius: $gutter/4;
        vertical-align: baseline;
      }
      & > .image {
        display: flex;
        padding: $gutter * 1.5;
        & > img {
          width: 65%;
          margin: auto;
          border: 1px solid $white;
        }
      }

      & > .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: $gutter * 1.5;
        padding-top: 0;
        &:nth-child(1) {
          padding-top: $gutter * 1.5;
        }
        & > h3 {
          margin-bottom: $gutter;
          line-height: 1.2;
          color: $white;
        }

        & > p {
          margin-bottom: $gutter;
          line-height: 1.2;
          color: $white;
          font-size: 1.5rem;
        }
        & > .btn-primary {
          max-width: 100%;
          font-weight: 700;
        }
      }
      a {
        max-width: 100%;
      }
    }
  }
}
