@import "../styles/variables.scss";
.post-detail {
  h3 {
    margin-bottom: 15px;
  }
  ul {
    padding: 0 0 0 40px;
    margin: 0 0 30px 0;
    font-size: 20px;
    line-height: 32px;
  }
  .post-content {
    padding-right: $space-50;
    @media (max-width: $layoutShift1Max) {
      padding-right: 0;
    }
    .post-description {
      border-bottom: 1px solid $gray-light;
    }
    blockquote {
      border-left: 3px solid $blue-bright;
      border-radius: 0 6px 6px 0;
      padding: 8px 16px;
      margin: 0 0 30px;
      border: 1px solid #efefef;
      border-left-width: 3px;
      border-left-color: $blue-bright;
      font-style: italic;
      strong {
        font-weight: bold;
      }
    }
  }
  .sidebar {
    hr {
      margin: 40px 0;
      border-width: 1px 0 0 0;
      border-style: solid;
      border-color: $gray-light;
      background-color: transparent;
    }
    .related-post-row {
      a {
        color: $blue-bright;
      }
      &:not(:last-child) {
        border-bottom: 1px solid $gray-light;
        margin-bottom: 40px;
        padding-bottom: 10px;
      }
    }
    .tag {
      a {
        background-color: transparent;
        padding: 5px 16px;
        border-radius: 20px;
        border: 2px solid $blue-bright;
        color: $blue-bright;
        line-height: 0.8rem;
        font-size: 0.8rem;
        font-weight: 500;
        height: 30px;
        display: inline-flex;
        margin-right: 10px;
        margin-bottom: 15px;
        &:hover {
          background-color: $blue-bright;
          color: $white;
        }
      }
    }
    .follow-btn {
      a {
        display: flex;
        margin-top: 0.5em;
        p {
          margin: 0 0 0 0.5em;
          line-height: normal;
          color: $gray-dark;
          &:hover {
            color: $black;
          }
        }
        svg {
          width: 1.5em;
          margin-top: 3px;
        }
      }
    }
  }
}

// Authore CSS

.author {
  @media (max-width: $layoutShift1Max) {
    flex-direction: column;
  }
  .author-image {
    width: 100px;
    margin-right: 30px;
    @media (max-width: $layoutShift1Max) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
  .about-author {
    display: flex;
    flex-direction: column;
    flex: 1;
    &-inner {
      margin-right: 24px;
      width: calc(70% - 12px);
      padding-right: 50px;
      @media (max-width: $layoutShift1Max) {
        width: 100%;
        margin-right: 0px;
        padding-right: 0;
      }
    }
  }
}
.bg-bright-01 {
  background-color: $blue-bright;
  .grid-66-33 {
    &.cta-small {
      padding: 48px 24px;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      @media screen and (max-width: 1024px) {
        display: block;
      }
    }
    & > div {
      display: inline-block;
      float: left;
      margin-right: 24px;
      width: calc(67% - (24px * 1 / 2));
      @media screen and (max-width: 1024px) {
        float: none;
        display: block;
        width: 100%;
      }
      &:nth-child(2) {
        margin-right: 0;
        width: calc(33% - (24px * 1 / 2));
        @media screen and (max-width: 1024px) {
          float: none;
          display: block;
          width: 100%;
          margin-top: 24px;
        }
      }
    }
    .cta-small-button {
      p {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        @media screen and (max-width: 1024px) {
          align-items: flex-start;
        }
        a {
          display: inline-block;
          width: 100%;
          max-width: 308px;
          margin-bottom: 0;
          background-color: $white;
          color: $cta;
          box-shadow: none;
          transition: 0.3s ease-in 0s;
          background-size: 250% auto;
          background-image: linear-gradient(
            -85deg,
            $white 0%,
            $white 40%,
            rgba(0, 142, 207, 0.2) 50%,
            $white 60%,
            $white 100%
          );
        }
        span {
          margin-top: 12px;
        }
      }
    }
  }
  h3,
  p {
    color: $white;
  }
  h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 600;
    margin: 0 0 20px;
  }
  p {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 0;
  }
  b {
    font-weight: 600;
  }
}
