@import "../styles/variables.scss";

.blog-tabs {



  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    overflow: hidden;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1248px;
    @media (max-width: 767px) {
      padding: 0 16px;
    }
    li {
      text-align: center;
    }
  }
}
