@import "../styles/variables.scss";

ul.tableofcontents {
  $hideDistance: -93%;
  $hideAwayTiming: 300ms;
  $padding: 16px;

  padding: 30px 50px;
  margin: 0;
  background-color: $gray-light;
  border: 1px solid $gray-dark;
  border-radius: 5px;

  z-index: 9;
  & .tochead{
    color: $blue-bright;
    margin-bottom: 0;
     p{
      margin: 0;
      font-size: 2rem;
     }
  }
  & .list {
    top: 0;
    padding-top: $padding/100 * 70;
    padding-bottom: $padding/100 * 70;

    z-index: 2;

    &::-webkit-scrollbar {
      width: 0px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: transparent;
    }

    & > li {
      margin: 0;

      & > a {
        display: block;

        padding: $padding/2 6px;
        padding-right: $padding * 1.5;

        color: $black;
        font-size: $padding !important;
        line-height: 1.1;
      }
    }
  }

}
